.button {
    text-align: center;
}

.btn-primary {
    width: 50%;
    background-color: #D98600;
}

.form-control {
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.form-group {
    width: 100%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.panel .panel-heading {
    background: black;
    color: white;
}

.panel .panel-footer {
    background: black;
    color: white;
}
